@import "../Vars.scss";
.Information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 80px;
}

.Information__img {
  width: 100%;
  object-fit: cover;
  padding: $padding6;
  border-radius: 50px;
}
.Information__content {
  text-align: left;
  padding: $padding7;
  margin-top: 3rem;
}

.Information__content--line {
  width: 8rem;
  height: 8px;
  border: none;
  float: left;
  background-color: #f8aa1d;
}

.Information__content--title {
  font-size: $size-title;
  font-weight: $font-weight-l;
}
.Information__content--paragraph {
  font-size: $size-xxs;
  padding-bottom: $padding7;
}
