@import "../Vars.scss";
.SingleDetail {
  display: flex;
  justify-content: center;
  background-color: $color4;
}

.SingleDetail--img {
  width: 20%;
  object-fit: contain;
  margin-right: 30px;
}

.SingleDetail--title {
  margin-top: 7%;
  font-size: $size-s;
  font-weight: $font-weight-l;
}
